*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

body.user-is-tabbing *:focus {
  outline: 2px solid blue;
}

html {
  height: 100%;
  font-size: 62.25%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #f0f0f0;
  background-color: #0f0f0f;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.header,
.footer {
  padding: 48px 0;
  text-align: center;
}

.footer {
  font-size: 1.4rem;
}

.title {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.result {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    gap: 48px;
  }
}

.container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.choice {
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 80px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.btn {
  width: 150px;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 15px;

  img {
    height: 24px;
  }
}